link(rel="stylesheet", href="/dropdown.css")
link(rel="stylesheet", href="/styles.css")
#header()
    a(href="/") Home
    | 
    a(href="/auth/login") Login
    | 
    a(href="/auth/register") Register
    | 
    a(href="/search") Search
    | 
    button#logout(type="button",onclick="logout()", hidden) logout
    | 
    #dropdown.dropdown.hide
        button#dropButton.dropbtn(onclick='showNotification()', hidden) Notifications
        #notifications.dropdown-content
            a No notifications
    | 
    a#myProfile(href="/users/myProfile", hidden) My profile
    script(src="/header.js", onload=("init_header()"))