link(rel="stylesheet", href="/dropdown.css")
#header()
    a(href="/") Home
    | 
    a(href="/auth/login") Login
    | 
    a(href="/auth/register") Register
    | 
    a(href="/search") Search
    | 
    button#logout(type="button",onclick="logout()", hidden) logout
    | 
    .dropdown
        button.dropbtn(onclick='showNotification()') Dropdown
        #myDropdown.dropdown-content
    | 
    a#myProfile(href="/users/myProfile", hidden) My profile
    script(src="/header.js", onload=("init_header()"))