link(rel="stylesheet", href="/dropdown.css")
link(rel="stylesheet", href="/styles.css")
#header()
    #left
        a.button.buttonLink(href="/") Home
        | 
        a.button.buttonLink#myProfile(href="/users/myProfile", hidden) My profile
        | 
        a.button.buttonLink(href="/search") Search
        |
    #right 
        #dropdown.dropdown.hide
            button#dropButton.dropbtn(onclick='showNotification()', hidden) Notifications
            #notifications.dropdown-content
                a No notifications
        | 
        a#login.button.buttonLink(href="/auth/login") Login
        | 
        button#logout.button(type="button",onclick="logout()", hidden) logout
        script(src="/header.js", onload=("init_header()"))
        | 
        a#register.button.buttonLink(href="/auth/register") Register