
.delete{
    background-color: red !important;
    width: 60px !important;
}
.delete:hover{
    background-color: darkred !important;
}
.likeButton{
    border: none;
    background-color: inherit;;
    color:hotpink;
    font-size: 22px;
    padding: 0px;
    margin-top: -10px;
    cursor: pointer;
}