body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}
.button{
    background-color: #3498DB;
    color: white;
    padding: 5px;
    width:80px;
    min-width: max-content;
    font-size: 13px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}
.button:hover {
    background-color: #2980B9;
}
.buttonLink{
    padding-left: 24px;
    padding-right: 24px;
}
.col {
    float: left;
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 2%;
}
.right{
    max-width: 20%;
    right: 0;
}
.left{
    width: 80%;
}
.center{
    align-items: center;
}
/* badge styles were taken form W3School Source: https://www.w3schools.com/howto/howto_css_notification_button.asp */
.badge {
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 1px 5px;
    border-radius: 50%;
    background: red;
    color: white;
}
.delete{
    background-color: red !important;
    width: 60px !important;
}
.delete:hover{
    background-color: darkred !important;
}
#header{
    width: 100%;
}
#right{
    display: inline-block;
    position: absolute;
    right: 0;
    padding-right: 2%;
    width: max-content;
}
#right.alt{
    margin-top: -3px;
}
#left{
    display: inline-block;
    width: max-content;
}