html 
    head 
        title #{gameData.name}
        script(src="gameId.js") 
    body
        #info
            h3 #{gameData.name}
        #div1
            img(src=`${gameData.tumbnail}`, alt="tumbnail",)
            p #{gameData.short_description}
