html 
    head 
        title #{gameData.name}
        script(src="gameId.js") 
    body
        include ../../partials/header
        #info
            h1 #{gameData.name}
        #div1
            img(src=`${gameData.thumbnail}`, alt="thumbnail",)
            p #{gameData.desc}
