html
    head
        title Search
        script(src="search/search.js") 
        link(rel="stylesheet", href="search/search.css")
    body(onload=("init()"))
        include ../../partials/header
        h1 Search
        #search.search
            form(action="./search", method="get") 
                input#searchText(type="text", name="search", placeholder="Enter search parameter here", required)
                br
                label(for="selector") Select game or user
                    br
                    select#searchOption(name="type")
                        option(value="0") Game 
                        option(value="1") User
                label#pubOnly.pubOnly.hide(for="pubOnly") #[input#pubOnlyCheck(type="checkbox", name="pubOnly", value="true")]Publisher only
                br
                button#submit.button(type="submit") Search
            #results
                ul#resList
                button#getMore.hide.button(type="button") Get more
